body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible {
    display: flex;
    margin-bottom: 10px;
}

.size {
    padding-top: 5px;

    font-size: 60px;
}

.font-size {
    font-size: 19px;
}

.header-size {
    font-size: 25px;
}

.color {
    color: rgb(242, 140, 6);

}

.half-width {
    width: 90%;
    padding-left: 90px;
}

.half-width img {
    width: 90%;
    height: 800px;
    padding-left: 0px;
}

.modify {
    background-image: linear-gradient(rgb(132, 170, 9), rgb(2, 99, 16));
    color: rgb(16, 8, 2);
    padding: 1% 5% 1% 5%;
    border-color: crimson;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
}

.top-banner {
    background-image: url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
    background-size: 1500px;

    padding-bottom: 0px;
}




.top-banner2 {
    background-image: url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 0;
    margin-bottom: 0%;

}

.padding {
    width: 90%;
    padding-left: 0px;
}

.img-style {
    width: 90%;
    height: 800px;
    padding-right: 0px;
}

.pad-up {}

.adjust {

    display: flex;
    background-image: url(/developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;


}


.div-adjust1 {
    border-left: 10px solid rgb(225, 81, 29);
    width: fit-content;
    box-shadow: 10px 10px 40px 10px gray;
    margin-left: 60px;
    padding-left: 20px;
    padding-bottom: 10%;
    margin-bottom: 10%;


}

.div-adjust2 {
    width: fit-content;
    border-left: 10px solid rgb(33, 7, 137);
    box-shadow: 10px 10px 40px 10px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-bottom: 10%;
    margin-bottom: 10%;


}

.size2 {
    font-size: 50px;
}

#footer {
    text-align: center;
}